# Subsetting and Descriptive Stats

## Before your start:
   - Remember that you just need to do one of the challenges.
   - Keep in mind that you need to use some of the functions you learned in the previous lessons.
   - Elaborate your codes and outputs as much as you can.
   - Try your best to answer the questions and complete the tasks and most importantly: enjoy the process!
   - **Only one challenge is mandatory, you can pick your favorite**
   - **Please always use relative paths to access the data**
  
   
#### Import all the necessary libraries here:

In [36]:
# import libraries here
import pyforest
pd.options.display.float_format = '{:,.2f}'.format

# [ONLY ONE MANDATORY] Challenge 1
#### In this challenge we will use the `Temp_States`  dataset.
Download the dataset from the `data` folder

#### First import the dataset into a dataframe called `temp`.

In [2]:
# your code here
temp = pd.read_csv('../data/Temp_States.csv')

#### Print `temp`.

In [37]:
temp

         City        State  Temperature
0         NYC     New York        19.44
1      Albany     New York         9.44
2     Buffalo     New York         3.33
3    Hartford  Connecticut        17.22
4  Bridgeport  Connecticut        14.44
5      Treton   New Jersey        22.22
6      Newark   New Jersey        20.00

#### Explore the data types of the *temp* dataframe. What types of data do we have? Comment your result.

In [38]:
# your code here
temp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   City         7 non-null      object
 1   State        7 non-null      object
 2   Temperature  7 non-null      float64
dtypes: float64(1), object(2)
memory usage: 296.0+ bytes

In [39]:
"""
As can be seen, we have two columns containing 'object' data, which in this case are string type. Column 'Temperature' contains np.float64 data type
"""

"\nAs can be seen, we have two columns containing 'object' data, which in this case are string type. Column 'Temperature' contains np.float64 data type\n"

#### Select the rows where state is New York.

In [40]:
# your code here
ny = temp.query('State == "New York"')
ny

      City     State  Temperature
0      NYC  New York        19.44
1   Albany  New York         9.44
2  Buffalo  New York         3.33

#### What is the average temperature of cities in New York?

In [41]:
# your code here
print(f'Average temperature in New York is:{np.mean(ny.Temperature): .1f} degrees Celcius')

Average temperature in New York is: 10.7 degrees Celcius

#### Which states and cities have a temperature above 15 degrees Celsius?

In [42]:
# your code here
temp.query('Temperature > 15')

       City        State  Temperature
0       NYC     New York        19.44
3  Hartford  Connecticut        17.22
5    Treton   New Jersey        22.22
6    Newark   New Jersey        20.00

#### Now, return only the cities that have a temperature above 15 degrees Celsius.

In [43]:
# your code here
temp.query('Temperature > 15')[['City', 'Temperature']]

       City  Temperature
0       NYC        19.44
3  Hartford        17.22
5    Treton        22.22
6    Newark        20.00

#### Which cities have a temperature above 15 degrees Celcius and below 20 degrees Celsius?

**Hint**: First, write the condition. Then, select the rows.

In [44]:
# your code here
temp.query('Temperature > 15 and Temperature < 20')[['City', 'Temperature']]

       City  Temperature
0       NYC        19.44
3  Hartford        17.22

#### Find the mean and standard deviation of the temperature of each state.

In [47]:
# your code here
table = pd.pivot_table(temp, index=['State'], values=['Temperature'], aggfunc=[np.mean, np.std]).reset_index()
table.columns = ['State', 'Average Temperature', 'Standard deviation of temperature']
table

         State  Average Temperature  Standard deviation of temperature
0  Connecticut                15.83                               1.96
1   New Jersey                21.11                               1.57
2     New York                10.74                               8.13

# [ONLY ONE MANDATORY]  Challenge 2

Download the dataset `employees` from the `data` folder.
Load the `employees` dataset into a dataframe. Call the dataframe `employees`.

In [ ]:
# your code here

#### Explore the data types of the `employees` dataframe. Comment your results.

In [ ]:
# your code here

In [ ]:
"""
your comments here
"""

#### What's the average salary in this company?

In [ ]:
# your code here

#### What's the highest salary?

In [ ]:
# your code here

#### What's the lowest salary?

In [ ]:
# your code here

#### Who are the employees with the lowest salary?

In [ ]:
# your code here

#### Find all the information about an employee called David.

In [ ]:
# your code here

#### Could you return only David's salary?

In [ ]:
# your code here

#### Print all the rows where job title is associate.

In [ ]:
# your code here

#### Print the first 3 rows of your dataframe.
**Tip**: There are 2 ways to do it. Do it both ways.

In [ ]:
# Method 1
# your code here

In [ ]:
# Method 2
# your code here

#### Find the employees whose title is associate and whose salary is above 55.

In [ ]:
# your code here

#### Group the employees by number of years of employment. What are the average salaries in each group?

In [ ]:
# your code here

####  What is the average salary per title?

In [ ]:
# your code here

####  Find the salary quartiles.

In [ ]:
# your code here

#### Is the mean salary different per gender?

In [ ]:
# your code here

#### Find the minimum, mean and maximum of all numeric columns for each company department.

In [ ]:
# your code here

#### Bonus Question:  for each department, compute the difference between the maximum and the minimum salary.
**Hint**: try using `agg` or `apply` combined with `lambda` functions.

In [ ]:
# your code here

# [ONLY ONE MANDATORY] Challenge 3
Download the dataset `Orders` from the `data` folder.
Load the `Orders` into a dataframe. Call the dataframe `Orders`.

In [ ]:
# your code here

#### Explore your dataset by looking at the data types and summary statistics. Comment your results.

In [ ]:
# your code here

In [ ]:
"""
your comments here
"""

####  What is the average purchase price?

In [ ]:
# your code here

#### What are the highest and lowest purchase prices?

In [ ]:
# your code here

#### Select all the customers from Spain.
**Hint**: Remember that you are not asked to find orders from Spain but customers. A customer might have more than one order associated.

In [ ]:
# your code here

#### How many customers do we have in Spain?

In [ ]:
# your code here

#### Select all the customers who have bought more than 50 items.
**Hint**: Remember that you are not asked to find orders with more than 50 items but customers who bought more than 50 items. A customer with two orders of 30 items each should appear in the selection.

In [ ]:
# your code here

#### Select orders from Spain that include more than 50 items.

In [ ]:
# your code here

#### Select all free orders.

In [ ]:
# your code here

#### Select all orders whose description starts with `lunch bag`.
**Hint**: use string functions.

In [ ]:
# your code here

#### Select all `lunch bag` orders made in 2011.

In [ ]:
# your code here

#### Show the frequency distribution of the amount spent in Spain.

In [ ]:
# your code here

#### Select all orders made in the month of August.

In [ ]:
# your code here

#### Find the number of orders made by each country in the month of August.
**Hint**: Use value_counts().

In [ ]:
# your code here

#### What's the  average amount of money spent by country?

In [ ]:
# your code here

#### What's the most expensive item?

In [ ]:
# your code here

#### What is the average amount spent per year?

In [ ]:
# your code here